# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

accountservice/accountservice
accountservice/accountservice-linux-amd64
accountservice/accounts.db
accountservice/healthchecker-linux-amd64

healthchecker/healthchecker
healthchecker/healthchecker-linux-amd64

vipservice/vipservice-linux-amd64
vipservice/healthchecker-linux-amd64
vipservice/vipservice

gelftail/gelftail
gelftail/gelftail-linux-amd64

imageservice/healthchecker-linux-amd64
imageservice/imageservice-linux-amd64
imageservice/imageservice

dataservice/healthchecker-linux-amd64
dataservice/dataservice-linux-amd64
dataservice/dataservice

swarm-prometheus-discovery/swarm-prometheus-discovery-linux-amd64
swarm-prometheus-discovery/swarm-prometheus-discovery
swarm-prometheus-discovery

build
.gradle

token.txt

loadtest/loadtest
loadtest/target

dbloadtest/logs
dbloadtest/dbloadtest
dbloadtest/target
dbloadtest/logs/testFile.log
